.dashboard {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.card h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.card p {
    font-size: 2em;
    color: #555;
    margin: 0;
}
*{
    font-size: 12px;
}

.icon{
    margin-top: 10px;
}


