body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-login-container {
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 100%;
   
    
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
    font-size: 26px;
    color: #333;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    
}

.input-group input {
    width: 100%;
    padding: 12px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

.input-group input:focus {
    border-color: #4CAF50;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

.extra-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.extra-links a {
    color: #4CAF50;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}
