<div style="display: flex;">
    <div  *ngIf="isLogin" class="sidebar">
      <h2 style="color: rgb(255, 255, 255);font-weight: bold;">ADMINI PANEL</h2>
      <ul>
          <li><a href="/Home"><i style="margin-right: 10px;" class="fa-solid fa-chart-line"></i>Dashboard</a></li>
          <li><a href="/user"><i style="margin-right: 10px;" class="fa-solid fa-user"></i>Quản lý người dùng</a></li>
          <li><a href="/products"><i style="margin-right: 10px;" class="fa-solid fa-list-check"></i>Quản lý sản phẩm</a></li>
          <li><a href="/categories"><i style="margin-right: 10px;" class="fa-solid fa-list-check"></i>Quản lý danh mục</a></li>
          <li><a href="/oders"><i style="margin-right: 10px;" class="fa-solid fa-list-check"></i>Quản lý đơn hàng</a></li>
          <li style="cursor: pointer;"><a href="/chart" ><i style="margin-right: 10px;" class="fa-solid fa-flag"></i>Biểu đồ</a></li>
          <li  style="cursor: pointer;"><a (click)="alert()"><i style="margin-right: 10px;" class="fa-solid fa-gear"></i>Cài đặt</a></li>
      </ul>
    </div>
    <div  class="main-content">
      <div class="header" *ngIf="isLogin" >
          <h1 >Admin Page</h1>
          <div class="user-info">
              <span>Xin chào <b>{{isLogin.userName}}</b></span>
              <a *ngIf="!isLogin" href="">Đăng nhập</a>
              <a (click)="Logout()" *ngIf="isLogin" href="#">Đăng xuất</a>
          </div>
        </div>
        <router-outlet></router-outlet>
    </div>
    
  </div>
